# creates a new tag whenever a commit on `main` containing `chore(main)` appears
name: release

on:
  workflow_call:

jobs:
  release:
    if: |
      github.event_name == 'push' &&
      github.ref == format('refs/heads/{0}', github.event.repository.default_branch) &&
      contains(github.event.head_commit.message, 'chore(main): release')
    runs-on: ubuntu-latest
    outputs:
      tagged: ${{ steps.tag.outputs.tagged }}
    steps:
      - uses: actions/checkout@v4

      - id: tag
        name: tag
        run: |
          echo "tagged=false" >> $GITHUB_OUTPUT
          git tag v$(node -pe "require('./package.json').version")
          git push origin v$(node -pe "require('./package.json').version")
          echo "tagged=true" >> $GITHUB_OUTPUT
