# creates a new npm release
name: release

on:
  workflow_call:
    secrets:
      NODE_AUTH_TOKEN:
        required: false
    inputs:
      path:
        required: false
        type: string
        default: '.'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bgd-labs/github-workflows/.github/actions/setup-node@main

      - name: Publish
        run: npm publish
        working-directory: ${{ inputs.path }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
