# creates a new npm release
name: test node

on:
  workflow_call:
    secrets:
      RPC_MAINNET:
        required: false
      RPC_POLYGON:
        required: false
      RPC_AVALANCHE:
        required: false
      RPC_OPTIMISM:
        required: false
      RPC_ARBITRUM:
        required: false
      RPC_METIS:
        required: false
      RPC_BASE:
        required: false
      RPC_GNOSIS:
        required: false
      RPC_BNB:
        required: false
      RPC_ZKEVM:
        required: false
      RPC_SCROLL:
        required: false
      RPC_ZKSYNC:
        required: false
      RPC_SEPOLIA:
        required: false
      RPC_FANTOM:
        required: false
      ETHERSCAN_API_KEY:
        required: false
      EXPLORER_PROXY:
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bgd-labs/github-workflows/.github/actions/setup-node@main

      - uses: bgd-labs/action-rpc-env@main
        with:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

      - name: Run tests
        run: npm run test
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
          EXPLORER_PROXY: ${{ secrets.EXPLORER_PROXY }}
